<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <h4 class="logo">Logo</h4>
      <nav>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="#kontect">Kontect</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="left">
        <div class="lhead">Lorem ipsum dolor sit amet consectetur.</div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          qui reprehenderit at quisquam, odit magnam, a dicta obcaecati quidem
          natus magni nihil pariatur. Tempore repellat dolorum alias quis.
          Possimus delectus aut officia. Accusantium repellat natus expedita
          nostrum aut atque esse fuga laboriosam soluta iure aliquid amet nulla
          numquam, at nihil animi vel exercitationem officia et dolor tempora
          alias quo! Voluptates.
        </p>
      </div>
    </main>
    <div id="kontect">
      <input class="input" type="text" />
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button class="btn">send</button>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
